@model hrm_system.Models.Attendence

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attendence</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Attendence_Status.attendence_status_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Attendence_Status.attendence_status_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.employee_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.employee_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type_of_Leave.leave_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type_of_Leave.leave_type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
